<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <title>FS Support</title>

    <link href="../css/supportHome.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/supportHome.js"></script>
</head>
<body ng-controller="mainController">
<div class="gridArea">
    <header><h3>Fine Studio</h3></header>
    <div id="availableGroupChat">
        <table>
            <thead>
            <tr>
                <th ng-click="sortChat('name')">目前项目</th>
                <th ng-click="sortChat('last_act_time')">消息时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="groupChat in groupChats | orderBy: gcColumnName" ng-click="setCurrentChat(groupChat.chat_id)">
                <td>{{groupChat.name}}</td>
                <td>{{groupChat.last_act_time}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="chat">
        <div id="chatTitle">消息列表</div>
        <div id="chatMsg" ng-repeat="chatMsg in chatMessages | orderBy: 'time'" class="{{chatMsg.isRead}}">
            <p class="user{{chatMsg.user_id}}">From:{{chatMsg.display_name}}(#{{chatMsg.user_id}})<br/>{{chatMsg.message}}<br/>{{chatMsg.time}}</p>
        </div>
        <form onsubmit="sendMessage()">
            <textarea style="width: 100%; height: 5em;" id="txtInput" required autofocus></textarea>
            <button type="submit">Send!</button>
        </form>
        <button id="btnBottom" type="button" onclick="scrollToBottom()">To Bottom</button>
    </div>
<!--    <div id="broadcastUser">-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th><div>可视用户 / 头衔</div></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr ng-repeat="user in broadcastUsers">-->
<!--                <td ng-click="createChat(user.id)">{{user.display_name}} {{user.title_name}}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
</div>
</body>
</html>
