.contentRow .cell{
    background-color: gainsboro;
}

#itemContent {
    display: flex;
    flex-direction: row;

}

.selected {
  background-color: darkgrey;
}

#dateTime {
  padding: 2%;
  font-family: sans-serif;
}

.item-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.item-column {
  padding: 3% 2%;
}

.groupSelected {
  border: thick solid coral;
}

.greyed {
  background-color: lightgray;
}


hr {
  border: dotted #EAF6F6 3px;
  border-bottom: none;
  margin: 60px auto;
}

hr.groupBorder {
  border-style: dashed solid;
  border-width: 3px;
}

.item-column {
  background-color: #ddf3f5;
}

#dateTime{
  background-color: #ddf3f5;
}

h3{
  color:black;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



/*Popup Form*/
{box-sizing: border-box;}
/* Button used to open the contact form - fixed at the bottom of the page */
.buttons-box {
  padding: 16px 20px;
  position: fixed;
  bottom: 23px;
  right: 28px;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*Logo Image*/
#duotuanImg{
  height: 130px;
}

#dapengImg{
  height: 130px;
}

.duotuanB {
  background-color: skyblue;
}


.tomatoB {
  background-color: #ff847c;

}

.dapenggeB {
  background-color: #99b898;

}


/*change store text color*/
.duotuanC {
  color: blue;
}

.tomatoC {
  color: red;
}

.dapenggeC {
  color: Green;
}
